# Puerto donde se ejecuta el backend
PORT=3000

# Entorno de ejecución
NODE_ENV=development

# URL del AI Service (FastAPI)
# Actualmente el backend utiliza un proxy simulado.(reservado para futuras act.)
AI_SERVICE_URL=http://localhost:8000